# Dependencies
node_modules/

# OS artefacts
.DS_Store
Thumbs.db
desktop.ini

# Editor artefacts
.vscode/settings.json
*.suo
*.user

# Build output
dist/
*.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
